<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Read_Rio_Log.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Read_Rio_Log.Properties.Settings>
            <setting name="saveToSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="usernameSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="passwordSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="IPAddressSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="portSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="filePathSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalPathSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="removeFilesSetting" serializeAs="String">
                <value>False</value>
            </setting>
        </Read_Rio_Log.Properties.Settings>
    </userSettings>
</configuration>